 body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .navbar {
      background-color: #333;
      overflow: hidden; 
    }

    .navbar a {
      float: left; 
      color: white; 
      text-align: center;
      padding: 14px 20px; 
      text-decoration: none;
      font-size: 17px;
    }

    
    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }

    .navbar a.active {
      background-color: #04AA6D;
      color: white;
    }
      h1 {
      margin: 0;
    }

    .services {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;
    }

    .service-box {
      background-color: white;
      width: 250px;
      margin: 15px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
      text-align: center;
    }

    .service-box img {
      width: 80px;
      height: 80px;
    }

    .service-box h3 {
      color: #333;
      
    }

    .service-box p {
      color: #555;
      font-size: 14px;
    }

    .footer{
        background:#333;
        color: bisque;
    }
